
// Landing: APPLICATIONS

// Banner App
.banner-app{
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    border: 1px solid red;
    background-attachment: fixed;
    &._1{
        //...
    }
    &._2{
        //...
    }
    &._3{
        //...
    }
    +below('small-tablet'){}    
}