// CASES

// Top Titles
.top-titles{
    border: 1px solid red;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper{
        border: 1px solid green;
        text-align: center;
        h2{
            border: 1px solid blue;
            font-size: 8rem;
            font-weight: 400;
            color: #000000;
            max-width: 590px;
            margin: 0 auto;
        }
        h3{
            border: 1px solid purple;
            max-width: 590px;
            margin: 0 auto;
        }
    }    
}