// CONTACT

// Top Title Contact
.top-title-contact{
    background-color: white;
    padding-top: 72px;
    padding-bottom: 122px;
    .wrapper{
        p{
            font-size: 3.8rem;
            font-weight: 300;
            color: #000000;
            line-height: 1.4;
            max-width: 600px;
            span{
                font-weight: 700;
            }
            +below('tablet'){
                font-size: 3rem;
            }
            +below('mobile'){
                max-width: 100%;
                line-height: 1.2;
            }
        }
    }
    +below('tablet'){
        padding-bottom: 70px;
    }
    +below('mobile'){
        padding-top: 70px;
        padding-bottom: 55px;
    }
}

// Contact types
.contact-types{
    //border: 1px solid blue;
    margin-bottom: 155px;
    .wrapper{
        display: flex;
        align-items: stretch;
        overflow: initial;
        // Help and Support
        .help-and-support{
            border-right: 1px solid #E0E0E0;
            flex-basis: 50%;
            .help-and-support-list{
                margin-top: 33px;
                .help-and-support-item{
                    margin-top: 22px;
                    &:first-child{
                        margin-top: 0;    
                    }
                    a{
                        font-size: 1.6rem;
                        font-weight: 300;
                        +below('mobile'){
                            line-height: 1.4;
                        }  
                    }
                }
            }
            .technical-service-hours-title{
                font-size: 1.8rem;
                font-weight: 700;
                color: #828282;
                text-transform: uppercase;
                margin-top: 68px;
                +below('mobile'){
                    margin-top: 35px;
                }
            }
            .technical-service-hours-info{
                font-size: 1.6rem;
                font-weight: 300;
                color: #4F4F4F;
                margin-top: 48px;
                margin-bottom: 22px;
                +below('mobile'){
                    line-height: 1.4;
                    margin-top: 20px;
                    margin-bottom: 22px;
                } 
            }
            .help-and-support-phones{
                position: relative;
                .phone-tooltip{
                    position: absolute;
                    display: inline-block;
                    min-width: 243px;
                    border-radius: 3px;
                    background-color: rgba(0,0,0,.8);
                    padding: 25px 10px;
                    width: inherit;
                    bottom: 55px;
                    left: 0;
                    font-weight: 400;
                    color: white;
                    text-align: center;
                    line-height: 1.5;
                    letter-spacing: .8px;
                    transition: none;
                    +below('mobile'){
                        min-width: 100%;
                    }
                    span{
                        font-weight: 700;
                        display: block;
                    }
                }
                button.btn.blue.btn-phone{
                    outline: none !important;
                    box-shadow: none !important;
                    +below('mobile'){
                        min-width: 100%;
                    }
                }
            }
            +below('tablet'){
                border: none; 
                margin-bottom: 0;
            }
            +below('mobile'){
                margin-bottom: 0;
            }
        }
        // Contact Forms
        .contact-forms{
            flex-basis: 50%;
            height: 750px;
            .title-and-btn-change{
                position: relative;
                display: flex;
                padding-left: 92px;
                .title-template,
                .btn-change-facebook-form,
                .btn-change-default-form{
                    flex-basis: 50%;
                    +below('tablet'){
                        min-width: 100%;
                        margin-bottom: 35px;
                    }
                }
                .btn-change-facebook-form,
                .btn-change-default-form{
                    position: absolute;
                    right: 0;
                    opacity: 0;
                    transition: opacity ease-in-out 400ms;
                    span{
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: #4F4F4F;
                    }

                    &.active {
                        opacity: 1;
                        z-index: 5;
                    }
                }
                .btn-change-facebook-form{
                    margin-top: -2px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    svg {
                        margin-left: 10px;
                    }
                    +below('tablet'){
                        flex-direction: row-reverse;
                        margin-top: 60px;
                        svg {
                            margin-left: 0;
                            margin-right: 10px;
                        }
                    }
                }
                .btn-change-default-form{
                    align-self: center;
                    text-align: right;
                    margin-top: -6px;
                    //padding-right: 65px;
                    +below('tablet'){
                        flex-direction: row;
                        text-align: left;
                        margin-top: 69px;
                    }
                }
                +below('tablet'){
                    padding-left: 0;
                    flex-direction: column;
                }
            }
            .the-contact-forms{
                position: relative;
                width: 100%;
                margin-top: 45px;
                .facebook-form{
                    margin-left: 92px;
                    +below('tablet'){
                        margin-left: 0;
                    }    
                }
                .default-form{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 92px;
                    //width: calc(@width - 92px);
                    +below('tablet'){
                        left: 0;
                        width: 100%;
                    }
                    +below('small-tablet'){
                        padding-left: 0;
                    }
                }
            }
            +below('tablet'){
                margin-top: 70px;
            }
            +below('mobile'){
                height: 648px;
            }
        }
        +below('tablet'){
            flex-direction: column;
        }
    }
    +below('tablet'){
        margin-bottom: 35px;
    }
}