// FRONT PAGE

// Banner intro

.banner-intro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 480px;
    background-image: url("../img/background/banner-intro.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1 {
        max-width: 550px;
        color: white;
        text-shadow: 0 3px 3px rgba(0,0,0,.3);
        +below('mobile'){
            font-size: 2.6rem;
        }
    }
    h2 {
        max-width: 740px;
        color: white;
        +below('mobile'){
            font-size: 2.2rem;
        }
    }
}

// Services

.services{
    .wrapper {
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .box-services {
            /* background-image: linear-gradient(65deg, #ffffff90, #ffffff00); */
            min-width: 180px;
            width: 180px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            margin: 0 10px 0 0;
            padding: 20px;
            /*
            &:nth-child(1){
                background: linear-gradient(to right, #1257BF , #3B7BDC);
                +below(440px){
                    margin: 0 10px 10px 0;
                }
            }
            &:nth-child(2){
                background: linear-gradient(to right, #6B63CC , #7D8AB8);
                +below(440px){
                    margin: 0 0 10px 0;
                }
            }
            &:nth-child(3){
                background: linear-gradient(to right, #3BBCE5 , #53B3F5);
                +below(440px){
                    margin: 0 10px 0 0;
                }
            }
            &:nth-child(4){
                margin-right: 0;
                background: linear-gradient(to right, #3BA0E5 , #53B3F5);
                +below(440px){
                    margin: 0 0 0 0;
                }
            }
            */
            p {
                font-size: 2.4rem;
                color: white;
                text-align: left;
                +below(440px){
                    font-size: 1.6rem;
                    transform: translateY(50px);
                }
            }
            +below(860px){
                margin-bottom: 10px;
            }
            +below(440px){
                display: inline-block;
                min-width: auto;
                width: 48%;
                height: 0;
                padding: 10px 10px @width;
            }
        }
        +below(860px){
            transform: translateY(-90px);    
        }
        +below(440px){
            justify-content: center;
        }
    }
}

// In featured

.featured{
    .banner-featured{
        min-height: 350px;
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p{
            max-width: 392px;
            font-size: 2.6rem;
            color: #4F4F4F;
            line-height: initial;
        }
    }
}

// Technologies

.technologies{
    background-color: #2c2c2c;
    padding-top: 50px;
    padding-bottom: 50px;
    h2.title-template{
        color: white;
    }
    .technologies-description {
        color: white;
        font-size: 2.6rem;
        max-width: 820px;
        margin: 73px auto 97px 0;
        +below('small-tablet'){
            margin-bottom: 45px;    
        }
    }
    .technologies-types{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            flex-basis: 30%;
            text-align: center;
            img {
                +below('small-tablet'){
                    max-width: 40%;
                }
            }
            h3, p{
                color: white;
                font-size: 2rem;
            }
            h3{
                margin: 63px auto 20px auto;
                +below('small-tablet'){
                    margin: 20px auto;
                }
            }
            p{
                margin-bottom: 10px;
                +below('small-tablet'){
                    font-size: 1.6rem;
                }
            }
            +below(500px){
                margin-bottom: 28px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        +below(500px){
            flex-direction: column;    
        }
    }
}

// Made in Usabit

.made-in-usabit{
    background-color: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 50px;
    .usabit-posts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            flex-basis: 30%;
            .post-card{
                background-color: white;
                .post-thumbnail{
                    display: flex;
                    width: 100%;
                    max-height: 250px;
                    +below('desktop'){
                        max-height: 200px;
                    }
                    +below('tablet'){
                        max-height: 175px;
                    }
                    +below('small-tablet'){
                        max-height: 350px;
                    }
                    +below('mobile'){
                        max-height: 300px;
                    }
                    +below(500px){
                        max-height: 250px;
                    }
                    +below(330px){
                        max-height: 190px;
                    }
                }
                .post-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    min-height: 250px;
                    padding-right: 20px;
                    padding-left: 20px;
                    h3{
                        font-size: 1.9rem;
                    }
                    p{
                        font-size: 1.6rem;
                    }
                    +below(330px){
                        min-height: 220px;
                    }
                }
            }
            +below('small-tablet'){
                margin-bottom: 28px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        +below('small-tablet'){
            flex-direction: column;
        }
    }
}

// Technology Posts

.technology-posts{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    .technology-posts-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box-col{
            flex-basis: 50%;
            .box-post {
                border: 1px solid $primary-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 150px;
                padding: 20px;
                cursor: pointer;
                &:hover {
                    -moz-box-shadow:    inset 0 0 0 1px $primary-color;
                    -webkit-box-shadow: inset 0 0 0 1px $primary-color;
                    box-shadow:         inset 0 0 0 1px $primary-color;
                }
                &-category,
                &-title{
                    color: $text-primary;
                }
                &-category{
                    font-size: 1.4rem;
                    margin-bottom: 10px;
                }
                &-title{
                    font-size: 2rem; 
                }
                .more-about-technology{}
                &:nth-child(1){
                    margin-bottom: 28px;
                }
                +below('small-tablet'){
                    margin-bottom: 28px;
                }
            }
            &:nth-child(1) {
                margin-right: 28px;
            }
            +below('small-tablet'){
                display: block;
                margin-right: 0;
                &:nth-child(1) {
                    margin-right: 0;
                }
                &:nth-child(2) {
                    .box-post:nth-child(2) {
                        margin-bottom: 0;
                    }
                }
            }
        }
        +below('small-tablet'){
            display: block;
        }
    }
}

// Contact Bar

.contact-bar{
    background-color: white;
    padding-bottom: 50px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contact {
            &-business,
            &-office{
                display: flex;
                align-items: center;
                .contact-info-title{
                    font-size: 1.5rem;
                    margin-right: 15px;
                    +below('tablet'){
                        margin-right: 10px;    
                    }
                    i {
                        margin-right: 10px;
                        +below('tablet'){
                            margin-right: 5px;    
                        }
                    }
                }
                p.contact-info-number{
                    display: inline-block;
                    font-size: 1.5rem;
                    color: $primary-color;
                    +below('tablet'){
                        display: none;
                    }
                }
                a.contact-info-number{
                    display: none;
                    +below('tablet'){
                        display: inline-block;
                        font-size: 1.5rem;
                        color: $primary-color;
                    }
                }
                +below('tablet'){
                    margin-bottom: 20px;
                } 
            }
            &-business{
                flex-basis: 35%;  
            }
            &-office{
                flex-basis: 25%;  
            }
            &-social-network{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1;
                a{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    border-radius: 50%;
                    background-color: $text-primary;
                    i{
                        color: white;
                        font-size: 2rem;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover,
                    &:active {
                        background-color: $text-secondary;
                    }
                    +below('tablet'){
                        width: 35px;
                        height: 35px;
                        i{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }        
        +below('tablet'){
            flex-direction: column;
        }
    }
}

// Footer

.footer{
    background-color: white;
    border-top: 1px solid #BDBDBD;
    padding-top: 50px;
    padding-bottom: 50px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .footer-topic{
            flex: 1;
            svg {
                transform: translateY(-40%);
            }
            h2{
                font-size: 1.6rem;
                max-width: 190px;
            }
            ul{
                li{
                    font-size: 1.6rem;
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            +below('tablet'){
                margin-bottom: 25px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        +below('tablet'){
            flex-direction: column;
        }
    }
}