// FRONT PAGE

// Banner intro

.banner-intro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 480px;
    //position: sticky;
    //top: -430px;
    z-index: 1;
    h2 {
        max-width: 550px;
        font-size: 4rem;
        font-weight: 400;
        color: white;
        line-height: 1.2;
        text-shadow: 0 3px 3px rgba(0,0,0,.33);
        margin-bottom: 34px;
        +below('mobile'){
            font-size: 3rem;
        }
    }
    h3 {
        max-width: 738px;
        font-size: 2.6rem;
        font-weight: 300;
        color: white;
        line-height: 1.2;
        +below('mobile'){
            font-size: 2.4rem;
        }
    }
}

// Services

.services{
    //border: 1px solid blue;
    width: 100%;
    min-height: 150px;
    .wrapper {
        /*transform: translateY(-50%);*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -90px;
        .box-services {
            /* background-image: linear-gradient(65deg, #ffffff90, #ffffff00); */
            width: 180px !important;
            height: 180px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 3px;
            padding: 20px;
            margin-bottom: 3%;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
            column($cycle: 5);
            p {
                font-size: 2.4rem;
                color: white;
                +below('small-tablet'){
                    position: absolute;
                    right: 10%;
                    left: 10%;
                }
                +below(330px){
                    font-size: 2rem;
                }
            }
            +below('small-tablet'){
                position: relative;
                width: 47% !important;
                height: 0;
                padding: (@width / 2);
                margin-bottom: 5%;
                &:nth-last-child(-n+2){
                    margin-bottom: 0;
                }
                column(1/2, $cycle: 2)
            }
        }
        +below('small-tablet'){
            justify-content: space-between;
            margin-top: -70px;
        }
    }
    +below('small-tablet'){
        margin-bottom: 50px;
    }
}

// In featured

.featured{
    display: inline-block;
    width: 100%;
    .banner-featured{
        height: 345px;
        margin-top: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p{
            max-width: 392px;
            font-size: 2.6rem;
            color: #4F4F4F;
            line-height: initial;
            +below('small-tablet'){
                max-width: 330px;
            }
            +below('mobile'){
                max-width: 100%;
            }
        }
        +below('mobile'){
            background-image: none !important;
            background-color: #e7ecf2;
        }
    }
}

// Technologies

.technologies{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #2c2c2c;
    padding-top: 46px;
    padding-bottom: 56px;
    h2.title-template{
        color: white;
    }
    .technologies-description {
        color: white;
        font-size: 2.6rem;
        max-width: 820px;
        margin: 62px auto 95px 0;
        +below('small-tablet'){
            margin-top: 50px;
            margin-bottom: 60px;    
        }
    }
    .technologies-types{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            flex-basis: 30%;
            text-align: center;
            img {
                +below('tablet'){
                    max-width: 45%;
                }
                +below('mobile'){
                    max-width: 35%;
                }
            }
            h3, p{
                color: white;
                font-size: 2rem;
                line-height: 1.2;
                +below('small-tablet'){
                    font-size: 1.8rem;
                }
            }
            h3{
                font-weight: 400;
                margin: 63px auto 20px auto;
                +below('tablet'){
                    margin-top: 50px;
                }
                +below('mobile'){
                    margin-top: 40px;
                }
            }
            +below('mobile'){
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        +below('mobile'){
            flex-direction: column;    
        }
    }
}

// Made in Usabit

.made-in-usabit{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    padding-top: 90px;
    padding-bottom: 50px;
    .wrapper{
        a.post-card{
            background-color: white;
            width: 417px;
            column(1/3, $cycle: 3);
            figure{
                position: relative;
                display: inline-block;
                width: 100%;
                img.post-thumbnail{
                    display: block;
                    width: @width;
                    height: 262px;
                    +below('tablet'){
                        height: auto;
                    }
                }
                figcaption { 
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    left: 30px;
                    p{
                        font-size: 3rem;
                        font-weight: 300;
                        color: #FFFFFF;
                    }
                }
            }
            .post-content{
                width: 100%;
                min-height: 223px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 30px;
                h3,
                p{
                    font-weight: 300;
                    color: black;
                    max-width: 100%;                    
                    margin: 0;
                    line-height: 1.3;
                }
                h3{
                    font-size: 2rem;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 1.6rem;
                }
            }
            +below('tablet'){
                margin-bottom: 3%;
                column(1/2, $cycle: 2);
                &:last-child{
                    margin-bottom: 0;
                }
            }
            +below('mobile'){
                column(1, $cycle: 1);
            }
        }
    }
}

// Technology Posts

.technology-posts{
    display: inline-block;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    .technology-posts-boxes {
        display: inline-block;
        width: 100%;
        margin-top: 4.4rem;
        .box-post,
        .box-post__more-about {
            background-color: white;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            &:nth-child(-n+2){
                margin-bottom: 3%;
            }
            column(1/2, $cycle: 2);
            h3,
            p{
                color: #828282;
                font-weight: 500;
            }
            h3{
                font-size: 1.6rem;
                margin-bottom: 10px;
            }
            p{
                font-size: 2.5rem;
                +below('tablet'){
                    font-size: 2rem;
                }
            }
            +below('mobile'){
                margin-bottom: 3%;
                column(1, $cycle: 1);
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .box-post{
            border: 1px solid $primary-color;
            &:hover {
                -moz-box-shadow:    inset 0 0 0 1px $primary-color;
                -webkit-box-shadow: inset 0 0 0 1px $primary-color;
                box-shadow:         inset 0 0 0 1px $primary-color;
            }   
        }
        .box-post__more-about {
            p{
                font-size: 1.6rem;
                font-weight: 400;
                color: #2D9CDB;
            }
            +below('mobile'){
                align-items: center;
                min-height: auto;
            }
        }
    }
}

// Contact Bar

.contact-bar{
    display: inline-block;
    width: 100%;
    background-color: white;
    padding-top: 59px;
    padding-bottom: 30px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contact {
            &-business,
            &-office{
                display: flex;
                align-items: center;
                .contact-info-title{
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-right: 17px;
                    +below('tablet'){
                        margin-right: 10px;    
                    }
                    i {
                        margin-right: 12px;
                        +below('tablet'){
                            margin-right: 5px;    
                        }
                    }
                }
                p.contact-info-number,
                a.contact-info-number {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #2D9CDB;
                }
                p.contact-info-number{
                    display: inline-block;
                    +below('tablet'){
                        display: none;
                    }
                }
                a.contact-info-number{
                    display: none;
                    +below('tablet'){
                        display: inline-block;
                    }
                }
                +below('tablet'){
                    margin-bottom: 20px;
                } 
            }
            &-business{
                flex-basis: 35%;  
            }
            &-office{
                flex-basis: 25%;  
            }
            &-social-network{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1;
                a{
                    width: 26px;
                    height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 13px;
                    border-radius: 50%;
                    background-color: #bebebe;
                    i{
                        color: white;
                        font-size: 1.4rem;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover,
                    &:active {
                        background-color: @background-color - 30%;
                    }
                }
            }
        }        
        +below('tablet'){
            flex-direction: column;
        }
    }       
    +below('mobile'){
        padding-top: 0;
    }
}

// Footer

.footer{
    display: inline-block;
    width: 100%;
    background-color: white;
    border-top: 1px solid #BDBDBD;
    padding-top: 35px;
    padding-bottom: 57px;
    .wrapper{
        .footer-topic{
            column(1/5, $cycle: 5);
            &-title{
                height: 48px;
                h2{
                    font-size: 1.4rem;
                    color: black;
                }
                svg {
                    transform: translateY(-40%);
                }
                +below('tablet'){
                    height: 50px;
                }
                +below('mobile'){
                    height: 30px;
                }
            }
            &-list{
                li{
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: black;
                    line-height: 1.2;
                    margin-bottom: 8px;
                    a{
                        font-size: @font-size;
                        color: @color;
                        line-height: @line-height;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }    
            }
            +below('tablet'){
                &:nth-child(-n+4){
                    margin-bottom: 30px;    
                }
                column(1/3, $cycle: 3);
            }
            +below('mobile'){
                column(1, $cycle: 1);
            }
        }
    }
}