
// SINGLE POST

.single-post{
    .wrapper{
        .single-post-content{
            border: 1px dashed blue;
            max-width: 1024px;
            .spc-date-and-comment{}
            .spc-title{}
            .spc-subtittle{}
            .spc-paragraph{}
            .spc-tags{}
            .spc-campaign-banner{}
            .spc-content-banner{}
            .spc-author{
                border-top: 1px solid #BDBDBD;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .spc-author-avatar{
                    width: 200px;
                    height: 200px;
                    margin-right: 22px;
                    border-radius: 50%;
                }
                .spc-author-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    flex: 1;
                    &-name{}
                    &-profession{}
                }
            }
        }
    }    
}