
// Landing: SYSTEMS

// Specialists Team
.specialists-team{
    .wrapper{
        overflow: initial;
        .specialists-team-content{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            .usabit-form-content-inputs{
                margin-top: -140px;
                margin-bottom: -60px;
                h2{
                    margin-top: 10px;
                    line-height: 0;
                }
                .specialists-team-greeting{
                    font-weight: 300;
                    color: #97B3C6;
                    line-height: 1.3;
                    margin-top: 30px;
                    margin-bottom: 25px;
                    span{
                        display: block;
                        font-weight: 400;
                        color: white;
                    }
                }
                .specialists-team-contact{
                    font-size: 2rem;
                    font-weight: 400;
                    color: #56CCF2;
                    margin-bottom: 22px;
                    line-height: 1.2;   
                }
                +below('tablet'){
                    margin-right: 0;
                }
            }
            .specialists-team-content-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
                padding-right: 20px;
                h1,
                p{
                    color: #000000;                    
                    line-height: 1.2;
                }
                h1{
                    font-size: 4rem;
                    font-weight: 400;
                    max-width: 595px;
                }
                p{
                    font-size: 2.4rem;
                    font-weight: 300;
                    max-width: 656px;
                    margin-top: 40px;
                }
            }
        }
        +below('small-tablet'){
            .specialists-team-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid blue;
                .usabit-form-content-inputs{
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 0;
                    order: 2;
                }
                .specialists-team-content-info{
                    width: 100%;
                    order: 1;
                    border: 1px dashed green;
                }
            }
        }
    }    
}

// Software Decisions
.software-decisions{
    padding-top: 145px;
    padding-bottom: 480px;
    .software-decisions-title,
    .software-decisions-description,
    a.btn.submit{
        margin-left: 164px;    
    }
    .software-decisions-title,
    .software-decisions-description{
        color: #000000;
        line-height: 1.2;
    }
    .software-decisions-title{
        font-size: 5rem;
        font-weight: 400;
        max-width: 538px;
    }
    .software-decisions-description{
        font-size: 3.2rem;
        font-weight: 300; 
        max-width: 720px;
        margin-top: 63px;
        margin-bottom: 50px;
    }
}

// Testing and Security
.testing-and-security{
    padding-top: 525px;
    padding-bottom: 525px;
    .testing-and-security-title,
    .testing-and-security-description,
    a.btn.submit{
        margin-left: 164px;    
    }
    .testing-and-security-title,
    .testing-and-security-description{
        color: white;
        line-height: 1.2;
    }
    .testing-and-security-title{
        font-size: 5rem;
        font-weight: 400;
        max-width: 600px;
    }
    .testing-and-security-description{
        font-size: 3.2rem;
        font-weight: 300; 
        max-width: 720px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}