
// BANNERS

// Banner top
.banner-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 211px;
    z-index: 1;
    .wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 28px;
        h1,
        p,
        ul li,
        ul li i,
        ul li a{
            font-size: 4rem;
            font-weight: 300;
            color: white;
            +below('mobile'){
                font-size: 3rem;
            }
        }
        ul{
            display: @display;
            justify-content: @justify-content;
            align-items: @align-items;
            flex-wrap: wrap;
            list-style-type: none;
            li{
                margin-right: 10px;
                // penúltimo
                &:nth-last-of-type(-n +2):not(:last-child) a{
                    margin-right: 0;
                }
                &:last-child{
                    display: none;
                }
                a{
                    display: inline-block;
                    text-decoration: none;
                }
            }
        }
    }
}

// Banner Featured Post
.banner-featured-post{
    padding-top: 43px;
    padding-bottom: 20px;
    .wrapper{
        .banner-featured-post-content{
            position: relative;
            height: 398px;
            .banner-featured-post-content-info{
                position: absolute;
                top: 0;
                right: 0;
                background-color: #ffffff;
                border: 1px solid #56CCF2;
                width: 428px;
                height: auto;
                h2{
                    color: #000000;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1.4;
                    padding: 20px 20px 0;
                }
                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 60px;
                    color: #828282;
                    padding: 20px;
                    span:nth-child(1){
                        font-size: 1.8rem;
                        font-weight: 400;
                    }
                    span:nth-child(2){
                        font-size: 4rem;
                    }
                }    
            }
        }
    }
}