.btn {
	font-size: 1.8rem; // 18/10px = 1.8rem
	padding: 0.83em 1.66em; // 15/18px = .83em e 30/18px = 1.66em
	border-radius: 3px;
	color: #000;
	cursor: pointer;
	transition: all .2s ease-out;
	display: inline-block;
	+below('sm'){
		display: block;
	}
	&.white {
		border: 0;
		background: white;
		color: #333333;
		letter-spacing: 1px;
		&:hover {
			background: @background - 15%;
		}
	}
	&.outline-white {
		border: 1px solid white;
		background: $mainColor;
		color: white !important;
		letter-spacing: 1px;
		&:hover {
			border: white;
			background: white;
			color: $mainColor !important;
		}
	}
	&.white {
		border: 0;
		background: #80B258;
		color: white;
		letter-spacing: 1px;
		&:hover {
			background: @background - 15%;
		}
	}
	&.blue {
		border: 0;
		background: #3BA0E5;
		color: white;
		letter-spacing: 1px;
		&:hover {
			background: @background - 15%;
		}
	}
	&.black {
		background: none;
		border: 1px solid #000;
		font-weight: 600;
		color: #000;
		&:hover {
			background: #000;
			color: #fff;
		}
	}
}