
// CARDS

// Simple Card
.simple-card{
    display: inline-block;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    .simple-card-boxes {
        //border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        margin: calc(-22.1px / 2);
        .simple-card-column{
            //border: 1px dashed purple;
            display: flex;
            align-items: stretch;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% / 2);
            .simple-card-box,
            .simple-card-box__more-about {
                background-color: white;
                min-height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                margin: calc(22.1px / 2);
                h3,
                p{
                    color: #828282;
                }
                h3{
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-top: 10px;
                    margin-bottom: 8px;
                }
                p{
                    font-size: 2.5rem;
                    font-weight: 500;
                    +below('tablet'){
                        font-size: 2rem;
                    }
                }
                +below('small-tablet'){
                    margin: 0 0 22.1px;
                    flex-basis: calc(100%);
                }
            }
            .simple-card-box{
                border: 1px solid $primary-color;
                &:hover {
                    -moz-box-shadow:    inset 0 0 0 1px $primary-color;
                    -webkit-box-shadow: inset 0 0 0 1px $primary-color;
                    box-shadow:         inset 0 0 0 1px $primary-color;
                }   
            }
            .simple-card-box__more-about {
                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #2D9CDB;
                }
            }
            +below('small-tablet'){
                flex-basis: calc(100%);
                &:last-child{
                    .simple-card-box,
                    .simple-card-box__more-about{
                        margin-bottom: 0;
                    }                    
                }
            }
        }
        +below('small-tablet'){
            margin: 0;
        }
    }
}
// Simple Card ( variations )
.simple-card.simple-card-home {
    padding-bottom: 0;
    .wrapper:first-child{
        margin-bottom: 45px;
    }
    +below('mobile'){
        padding-bottom: 59px;
    }
    .simple-card-boxes{
        .simple-card-column{
            .simple-card-box__more-about{
                +below('small-tablet'){
                    display: block;
                    min-height: auto;
                    padding: 0;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}
.simple-card.simple-card-blog {
    padding-bottom: 70px;
}
.simple-card.simple-card-post {
    .wrapper:first-child{
        margin-bottom: 45px;
    }
}

// Medium Card
.medium-card{
    background-color: white;
    .medium-card-boxes{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 38px calc(-25px / 2) 0;
        .medium-card-box{
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% / 3);
            padding: calc(25px / 2);
            img + div{
                border-top: none;
            }
            div{
                border: 1px solid $primary-color;
                display: flex;
                .medium-card-box-title{
                    font-size: 3rem;
                    font-weight: 500;
                    color: #000000;
                    line-height: 1.4;
                    margin: 90px 20px;
                    +below('small-tablet') {
                        margin: 45px 10px;
                    }
                }
            }
            +below('tablet') {
                flex-basis: calc(100% / 2);
            }
            +below('mobile') {
                flex-basis: calc(100%);
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }    
}
// Medium Card ( variations )
.medium-card.medium-card-blog {
    .medium-card-boxes{
        margin-top: 25.5px;
        margin-bottom: 58px;
        .medium-card-box{}
    }
}

// Full Card
.full-card{
    background-color: white;
    .full-card-boxes{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 38px calc(-25px / 2);
        .full-card-box {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% / 3);
            padding: calc(25px / 2);
            img + .full-card-box-info{
                border-top: 0;
                //padding-top: 19px;
            }
            &-info{
                border-top: 1px solid $primary-color;
                border-right: 1px solid $primary-color;
                border-left: 1px solid $primary-color;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1; 
                padding: 32px 20px;
                &:last-child{
                    border-top: 0;
                }
                &-title{
                    font-size: 3rem;
                    font-weight: 500;
                    color: #000000;
                    line-height: 1.4;
                }
                &-content{
                    font-size: 1.8rem;
                    font-weight: 300;
                    color: #828282;
                    line-height: 1.8;
                    margin-top: -15px;
                    +below(1200px) {
                        margin-top: 20px;
                    }
                }
                &-author{
                    display: flex;
                    align-items: center;
                    margin-top: 45px;
                    span{
                        font-size: 1.8rem;
                        font-weight: 300;
                        color: #828282;
                        flex: 1;
                    }
                }
            }
            &-call{
                border: 1px solid $primary-color;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 60px;
                color: #828282;
                padding: 35px 20px;
                span:nth-child(1){
                    font-size: 1.8rem;
                    font-weight: 400;
                }
                span:nth-child(2){
                    font-size: 4rem;
                }
            }
            +below('tablet') {
                flex-basis: calc(100% / 2);
            }
            +below('mobile') {
                flex-basis: calc(100%);
            }
        }
    }
}
// Full Card ( variations )
.full-card.full-card-blog {
    .full-card-boxes{
        margin-top: 25.5px;
        margin-bottom: -10px;
    }
}

// Horizontal Card - Right
.horizontal-card-right{
    position: relative;
    width: 100%;
    background: linear-gradient(to right, transparent 50%, #8A8A8A 50%);
    .wrapper{
        margin-top: -315px;
        margin-bottom: -325px;
        padding-left: 164px;
        .horizontal-card-content{
            display: flex;
            flex: 1;
            .horizontal-card-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 389px;
                background-color: #FF7B1B;
                +below('small-tablet'){
                    flex: 1;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }
            .horizontal-card-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
                background-color: #8A8A8A;
                padding: 150px 0 195px 43px;
                .horizontal-card-info-title,
                .horizontal-card-info-description{
                    color: white;
                    line-height: 1.2;
                }
                .horizontal-card-info-title{
                    font-size: 5rem;
                    font-weight: 400;
                    max-width: 600px;
                    margin-bottom: 60px;
                    +below('small-tablet'){
                        font-size: 3rem;
                        margin-bottom: 25px;
                    }                
                }
                .horizontal-card-info-description{
                    font-size: 3.2rem;
                    font-weight: 300; 
                    max-width: 720px;
                    +below('small-tablet'){
                        font-size: 2.4rem;
                    }
                }
                +below('small-tablet'){
                    padding: 40px;
                }
                +below('mobile'){
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }
            +below('small-tablet'){
                flex-direction: column;
            }
        }
        +below(1348px){
            margin-top: -335px;
            margin-bottom: -345px;
        }
        +below(1199px){
            margin-top: -374px;
            margin-bottom: -364px;
        }
        +below(1162px){
            margin-top: -393px;
            margin-bottom: -383px;
        }
        +below(1117px){
            margin-top: -412px;
            margin-bottom: -402px;
        }
        +below('small-tablet'){
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            width: 100%;
        }
    }
    +below('small-tablet'){
        background: none;
    }
}

// Horizontal Card - Left
.horizontal-card-left{
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #8A8A8A 50%, transparent 50%);
    .wrapper{
        margin-top: -322px;
        margin-bottom: -322px;
        .horizontal-card-content{
            display: flex;
            flex-direction: row-reverse;
            flex: 1;
            .horizontal-card-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 389px;
                background-color: #2FA1F4;
                +below('small-tablet'){
                    flex: 1;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }
            .horizontal-card-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
                background-color: #8A8A8A;
                padding: 150px 0 190px;
                .horizontal-card-info-title,
                .horizontal-card-info-description{
                    color: white;
                    line-height: 1.2;
                }
                .horizontal-card-info-title{
                    font-size: 5rem;
                    font-weight: 400;
                    max-width: 600px;
                    margin-bottom: 62px;
                    +below('small-tablet'){
                        font-size: 3rem;
                        margin-bottom: 25px;
                    }               
                }
                .horizontal-card-info-description{
                    font-size: 3.2rem;
                    font-weight: 300; 
                    max-width: 720px;
                    +below('small-tablet'){
                        font-size: 2.4rem;
                    }   
                }
                +below('small-tablet'){
                    padding: 40px;
                }
                +below('mobile'){
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }
            +below('small-tablet'){
                flex-direction: column;
            }        
        }
        +below('small-tablet'){
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            width: 100%;
        }
    }
    +below('small-tablet'){
        background: none;
    }
}

// Usabit Especial Card
.made-in-usabit{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    padding-top: 90px;
    padding-bottom: 50px;
    .wrapper{
        a.post-card{
            display: inline-block;
            background-color: white;
            width: 418px;
            column(1/3, $cycle: 3);
            figure{
                display: block;
                position: relative;
                width: 100%;
                img.post-thumbnail{
                    width: 100%;
                    /*  418x262
                        Valor padrão definido no functions.php
                        do WordPress com base na imagem do Figma!
                    */
                }
                figcaption { 
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    left: 30px;
                    p{
                        font-size: 3rem;
                        font-weight: 200;
                        color: #FFFFFF;
                    }
                }
            }
            .post-content{
                width: 100%;
                min-height: 223px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex: 1;
                padding: 30px;
                h3,
                p{
                    font-weight: 300;
                    color: black;
                    max-width: 100%;                    
                    margin: 0;
                    line-height: 1.3;
                }
                h3{
                    font-size: 2rem;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 1.6rem;
                }
                +below('mobile'){
                    min-height: initial;
                }
            }
            +below('tablet'){
                margin-bottom: 3%;
                column(1/2, $cycle: 2);
                &:last-child{
                    margin-bottom: 0;
                }
            }
            +below('mobile'){
                column(1, $cycle: 1);
            }
        }
    }
}