
// Usabit FORM
.usabit-form{
    .usabit-form-content{
        //border: 1px solid red;
        display: flex;
        align-items: stretch;
        padding: 45px 45px 40px;
        &-info{
            //border: 1px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1;
            padding-right: 45px;
            h2,
            p{
                color: #000000;
                line-height: 1.2;
                +below('small-tablet'){
                    padding-bottom: 24px;
                }
            }
            h2{
                max-width: 647px;                
                font-size: 5rem;
                font-weight: 400;
                +below('mobile'){
                    font-size: 4rem;
                }
            }
            p{
                max-width: 752px;                
                font-size: 3.2rem;
                font-weight: 300;
                margin-top: 63px;
                +below('mobile'){
                    margin-top: 0;
                }
            }
        }
        &-inputs{
            //border: 1px solid green;
            width: 428px;
            background-color: #1C415B;
            padding: 24px;
            h2{                
                margin-top: 30.6px;
            }
            p{
                font-size: 3.2rem;
                font-weight: 200;
                color: #97B3C6;
                line-height: 1.2;
                margin-top: 35px;
                margin-bottom: 70px;
            }
            label{
                font-size: 1.2rem;
                font-weight: 300;
                color: #FFFFFF;
            }
            input[type=text],
            input[type=email]{
                display: inline-block;
                width: 100%;
                background-color: #2A4F69;
                border: 1px solid rgba(86, 204, 242, 0.4);
                outline: none;
                border-radius: 3px;
                padding: 15px;
                margin: 7px 0 18px 0;
                color: white;
            }
            input[name=clientbusiness]{
                margin-bottom: 39px;
            }
            input[type=text]:focus, 
            input[type=email]:focus{
                box-shadow: none;
            }
            input[type=submit]{
                min-width: auto;
                width: 100%;
                margin-bottom: 7px;
            }
            +below('small-tablet'){
                width: 100%;
            }
        }
        +below('small-tablet'){
            flex-direction: column;
            padding: 45px 0;
        }
    }
}
// Usabit FORM ( variations )
.usabit-form.usabit-form-blog {
    .usabit-form-content{
        margin-top: 127px;
        +below('mobile'){
            margin-top: 0;
        }
    }
}
// Usabit FORM ( variations )
.usabit-form.usabit-form-cases {
    .usabit-form-content{
        margin-top: 90px;
        +below('mobile'){
            margin-top: 0;
        }
    }
}
// Usabit FORM ( variations )
.usabit-form.usabit-form-systems {
    margin-bottom: 50px;
    .usabit-form-content{
        padding: 0;
        margin-top: 435px;
        .usabit-form-content-inputs{
            h2.usabit-form-content-inputs-title{
                margin-top: 10px;
            }
            p.usabit-form-content-inputs-description{
                margin-top: 58px;
                +below('small-tablet'){
                    font-size: 2.4rem;
                    margin-top: 25px;
                    margin-bottom: 28px;
                }
            }   
        }
        +below('small-tablet'){        
            margin-top: 35px;
            .usabit-form-content-info{
                h2{
                    font-size: 3rem;
                }
                p{
                    font-size: 2.4rem;
                    margin-bottom: 12px;
                }    
            }
        }
    }
}

// Only Usabit Form
.usabit-form-content-inputs{
    width: 428px;
    background-color: #1C415B;
    padding: 24px;
    h2{                
        margin-top: 30.6px;
    }
    p{
        font-size: 3.2rem;
        font-weight: 200;
        color: #97B3C6;
        line-height: 1.2;
        margin-top: 35px;
        margin-bottom: 70px;
    }
    label{
        font-size: 1.2rem;
        font-weight: 300;
        color: #FFFFFF;
    }
    input[type=text],
    input[type=email]{
        display: inline-block;
        width: 100%;
        background-color: #2A4F69;
        border: 1px solid rgba(86, 204, 242, 0.4);
        outline: none;
        border-radius: 3px;
        padding: 15px;
        margin: 7px 0 18px 0;
        color: white;
    }
    input[name=clientbusiness]{
        margin-bottom: 39px;
    }
    input[type=text]:focus, 
    input[type=email]:focus{
        box-shadow: none;
    }
    input[type=submit]{
        min-width: auto;
        width: 100%;
        margin-bottom: 7px;
    }
    +below('small-tablet'){
        width: 100%;
    }
}

// App Form
.app-form{
    .call-to-app-form{
        width: 100%;
        background-color: #263A57;
        padding-top: 90px;
        padding-bottom: 90px;
        .wrapper{
            text-align: center;
            h2{
                font-size: 4rem;
                font-weight: 300;
                color: #F2F2F2;
                line-height: 1.3;
            }
        }    
    }
    .the-app-form{
        //border: 1px solid red;
        padding-top: 115px;
        padding-bottom: 115px;
        &-inputs{
            width: 90%;
            max-width: 505px;
            margin: 0 auto;
            //border: 1px solid blue;
            label{
                display: block;
                font-size: 1.6rem;
                font-weight: 400;
                color: #000000;
                margin-top: 35px;
                margin-bottom: 8px;
                &:first-child{
                    margin-top: 0;    
                }
            }
            input[type="text"],
            input[type="email"]{
                background-color: white;
                border: 1px solid #D3D3D3;
                border-radius: 4px;
                display: flex;
                width: 100%;
                padding: 10px 12px;
                outline: none;
                box-shadow: none;
                font-size: 2rem;
                +placeholder(){
                    font-size: 2rem;
                    font-weight: 500;
                    color: #292929;
                }
            }
            input[type=text]:focus, 
            input[type=email]:focus{
                box-shadow: none;
            }
            input[type="submit"]{
                display: block;
                min-width: 100%;
                margin-top: 55px;
            }
            +below('mobile'){
                textarea{
                    min-height: 150px;
                }
                input[type="submit"]{
                    min-width: 100%;
                }
            }
        }    
    }  
}

// Contact Default Form
.default-form{
    label{
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
        margin-top: 27px;
        margin-bottom: 4px;
        &:first-child{
            margin-top: 0;    
        }
    }
    input[type="text"],
    input[type="email"],
    textarea{
        background-color: #ECECEC;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        border-left: 3px solid #56CCF2;
        display: block;
        width: 100%;
        padding: 15px;
        outline: none;
        resize: none;
    }
    textarea{
        min-height: 250px;
    }
    input[type=text]:focus, 
    input[type=email]:focus,
    textarea:focus{
        box-shadow: none;
    }
    input[type="submit"]{
        margin-top: 31px;
        float: right;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    +below('mobile'){
        textarea{
            min-height: 150px;
        }
        input[type="submit"]{
            min-width: 100%;
        }
    }
}