
// More Content Theme
.more-content-theme{
    .more-content-theme-tags{
        margin-bottom: 42px;
        &:last-child{
            margin-bottom: 0;    
        }
        li{
            a{}
        }
    }
}
// More Content Theme ( variations )
.more-content-theme.more-content-theme-blog {
    margin-top: 57px;
    .more-content-theme-tags{}
}