
.title-template{
    width: 100%;
    display: block;
    font-size: 3rem;
    font-weight: 300;
    color: black;
    &:after {
        display: block;
        content: '';
        width: 45px;
        height: 3px;
        margin-top: 10px;
        background-color: $primary-color;      
    }
}