
// Usabit FORM
.usabit-form{
    .usabit-form-content{
        //border: 1px solid red;
        display: flex;
        align-items: stretch;
        padding: 45px;
        &-info{
            //border: 1px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1;
            padding-right: 45px;
            h2,
            p{
                color: #000000;
                line-height: 1.2;
                +below('small-tablet'){
                    padding-bottom: 24px;
                }
            }
            h2{
                max-width: 647px;                
                font-size: 5rem;
                font-weight: 400;
                
            }
            p{
                max-width: 752px;                
                font-size: 3.2rem;
                font-weight: 300;
                margin-top: 63px;
            }
        }
        &-inputs{
            //border: 1px solid green;
            width: 428px;
            background-color: #1C415B;
            padding: 24px;
            h2{                
                margin-top: 30.6px;
            }
            p{
                font-size: 3.2rem;
                font-weight: 200;
                color: #97B3C6;
                line-height: 1.2;
                margin-top: 32px;
                margin-bottom: 48px;
            }
            label{
                font-size: 1.2rem;
                color: #FFFFFF;
            }
            input[type=text],
            input[type=email]{
                display: inline-block;
                width: 100%;
                background-color: #2A4F69;
                border: 1px solid rgba(86, 204, 242, 0.4);
                outline: none;
                border-radius: 3px;
                padding: 15px;
                margin: 6px 0 18px 0;
                color: white;
            }
            input[type=text]:focus, 
            input[type=email]:focus{
                box-shadow: none;
            }
            input[type=submit]{
                margin-top: 17px;
                min-width: auto;
                width: 100%;
            }
            +below('small-tablet'){
                width: 100%;
            }
        }
        +below('small-tablet'){
            flex-direction: column;
            padding: 45px 0;
        }
    }
}
// Usabit FORM ( variations )
.usabit-form.usabit-form-blog {
    .usabit-form-content{
        &-info{
            //h2{}
            //p{}
        }
        &-inputs{
            //h2{}
            //p{}
            label{}
            input[type=text],
            input[type=email] {}
            input[type=text]:focus, 
            input[type=email]:focus {}
            input[type=input]{}
        }
    }
}