
.hide-xs{
	+below('xs'){
		display: none;
	}
}
.hide-s{
	+below('sm'){
		display: none;
	}
}
.hide-m{
	+below('md'){
		display: none;
	}
}
.hide-l{
	+below('lg'){
		display: none;
	}
}
.hide-xl{
	+below('xl'){
		display: none;
	}
}
.hide-hd{
	+below('hd'){
		display: none;
	}
}
.hidden{
	display: none;
}

.responsive-image{
	display: block;
	max-width: 100%;
	height: auto;
}

.transition {
	transition: all 250ms;
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	-ms-transition: all 250ms;
}