
.hide-xs{
	+below('mobile'){
		display: none;
	}
}
.hide-s{
	+below('small-tablet'){
		display: none;
	}
}
.hide-m{
	+below('tablet'){
		display: none;
	}
}
.hide-l{
	+below('desktop'){
		display: none;
	}
}
.hide-xl{
	+below('hd'){
		display: none;
	}
}
.hide-hd{
	+below('wrap-break'){
		display: none;
	}
}
.hidden{
	display: none;
}

.responsive-image{
	display: block;
	max-width: 100%;
	height: auto;
}

.bg-image{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.transition {
	transition: all 250ms;
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	-ms-transition: all 250ms;
}