
$primary-color = #56CCF2;
$secondary-color = #3BA0E5;
$ternary-color = #263A57;

$text-primary = #666666;
$text-secondary = #444444;

$color-warning = #CC9A05;
$color-positive = #80B258;
$color-negative = #fb200f;