
/* 
    Obs: O documento, no Figma, tem 1440px de largura com margens laterais
         em torno de 60px em relação ao conteúdo, que está dentro de "wrapper". Por
         este motivo o wrapper está com 1320px ou seja 1440 - 120 = 1320px 
*/
.wrapper{
    //border: 1px dashed pink;
    width: 90%;
    max-width: 1320px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}